{% extends 'base.html' %}

{% block content %}
    <!-- <h1>Bienvenue sur notre Webradio</h1>

    <h2>Écoutez maintenant :</h2>
    <audio controls>
        <source src="http://141.95.149.137:8000/radio" type="audio/mp3">
        Votre navigateur ne supporte pas l'élément audio.
    </audio>

    <div>
        <p>Musique en cours : <strong id="current-song">{{ current_song }}</strong></p>
    </div>

    <script>
        function updateCurrentSong() {
            fetch('/current-song/')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('current-song').innerText = data.current_song;
                })
                .catch(error => console.error('Erreur lors de la mise à jour du titre:', error));
        }

        setInterval(updateCurrentSong, 10000);
    </script> -->
	<h1>Home</h1>
	<div>
		<p>Pleins d'infos ici !</p>
	</div>
{% endblock %}