<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Webradio</title>
	</head>
	<body>
		<h1>Bienvenue sur notre Webradio</h1>

		<h2>Ecoutez maintenant :</h2>
		<audio controls>
			<source src="http://141.95.149.137:8000/radio" type="audio/mp3">
			Votre navigateur ne supporte pas l'element audio.
		</audio>

		<div>
			<p>Musique en cours : <strong>{{ current_song }}</strong></p>
		</div>
	</body>
</html>